<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img [src]="logo" width="100px"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['table']" (click)="loadClients()">Tabla de Registros</a>
      </li>
    </ul>
  </div>
</nav>
<app-medium [clients]="clients"></app-medium>



